fastapi


logging
PyMuPDF

sqlalchemy
pydantic
typing


uvicorn[standard]
sqlalchemy
python-multipart

langgraph
langchain
langchain-openai
python-dotenv

langchain-google-community
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
beautifulsoup4